In [3]:
#1 
import pandas as pd

data = {'name':['jack','rose','mary','fernadas'],'age':[20,19,33,43],
        'pclass' :['class3','class1','class1','class2'],'ticket no' :[456,757,899,564],
        'place' :['london','london','london','london']}
df = pd.DataFrame(data)
print(df)

       name  age  pclass  ticket no   place
0      jack   20  class3        456  london
1      rose   19  class1        757  london
2      mary   33  class1        899  london
3  fernadas   43  class2        564  london

In [9]:
#2

df1 = pd.DataFrame(data,index=[0,1,2,3],columns=['pclass'])
print(df1)

   pclass
0  class3
1  class1
2  class1
3  class2

In [10]:
#3

df.insert(6,"fare_category",['cheap','expensive','expensive','moderate','cheap','very cheap','expensive'])
print(df)

       name  age  pclass  ticket no   place          is_alone
0      jack   20  class3        456  london        no sibling
1      rose   19  class1        757  london  parents on board
2      mary   33  class1        899  london       with spouse
3  fernadas   43  class2        564  london             False

In [22]:
#4

data = {
    'name': ['jack', 'rose', 'mary', 'fernadas', 'john', 'clara', 'davis'],
    'age': [20, 19, 33, 43, 23, 16, 30],
    'pclass': ['class3', 'class1', 'class1', 'class2', 'class3', 'class1', 'class2'],
    'ticket no': [456, 757, 899, 564, 333, 123, 432],
    'fare': [3, 10, 10, 5, 2, 3, 10]
}

df = pd.DataFrame(data)
mean_age_by_pclass = df.groupby('pclass')['age'].mean()

print(mean_age_by_pclass)

pclass
class1    22.666667
class2    36.500000
class3    21.500000
Name: age, dtype: float64

In [21]:
#5

data = {
    'name':['jack','rose','mary','fernadas','john','clara','davis'],
    'age':[20,19,33,43,23,16,30],
    'pclass' :['class3','class1','class1','class2','class3','class1','class2'],
    'ticket no' :[456,757,899,564,333,123,432],
    'fare' :[3,10,10,5,2,3,10]
}
df = pd.DataFrame(data)
print(df)
df1 = pd.DataFrame(data['fare'], columns=['fare'])
sorted_df1 =df1.sort_values(by='fare', ascending=False)
print(sorted_df1.head(10))

       name  age  pclass  ticket no  fare
0      jack   20  class3        456     3
1      rose   19  class1        757    10
2      mary   33  class1        899    10
3  fernadas   43  class2        564     5
4      john   23  class3        333     2
5     clara   16  class1        123     3
6     davis   30  class2        432    10
   fare
1    10
2    10
6    10
3     5
0     3
5     3
4     2

In [30]:
#6

df.insert(6,"fare_category",['cheap','expensive','expensive','moderate','cheap','very cheap','expensive'])
print(df)

IndexError: index 6 is out of bounds for axis 0 with size 5

In [33]:
#7

data = {
    'name':['jack','rose','mary','fernadas','john','clara','davis'],
    'age':[20,19,33,43,23,16,30],
    'pclass' :['class3','class1','class1','class2','class3','class1','class2'],
    'ticket no' :[456,757,899,564,333,123,432],
    'fare' :[3,10,10,5,2,3,10],
    'sex' :['male','female','female','male','male','female','male']
}
df = pd.DataFrame(data)
print(df)
df1 = pd.DataFrame(data['sex'], columns=['sex'])
print(df1)

       name  age  pclass  ticket no  fare     sex
0      jack   20  class3        456     3    male
1      rose   19  class1        757    10  female
2      mary   33  class1        899    10  female
3  fernadas   43  class2        564     5    male
4      john   23  class3        333     2    male
5     clara   16  class1        123     3  female
6     davis   30  class2        432    10    male
      sex
0    male
1  female
2  female
3    male
4    male
5  female
6    male

In [3]:
#8
import pandas as pd

data = {
    'name':['jack','rose','mary','fernadas','john','clara','davis'],
    'age':[20,19,33,43,23,16,30],
    'pclass' :['class3','class1','class1','class2','class3','class1','class2'],
    'cabin' :[456,757,899,564,333,123,432],
    'fare' :[3,10,10,5,2,3,10],
    'sex' :['male','female','female','male','male','female','male']
}
df = pd.DataFrame(data)
print(df)
df.drop(columns = ['cabin'], inplace=True)
print(df)

       name  age  pclass  cabin  fare     sex
0      jack   20  class3    456     3    male
1      rose   19  class1    757    10  female
2      mary   33  class1    899    10  female
3  fernadas   43  class2    564     5    male
4      john   23  class3    333     2    male
5     clara   16  class1    123     3  female
6     davis   30  class2    432    10    male
       name  age  pclass  fare     sex
0      jack   20  class3     3    male
1      rose   19  class1    10  female
2      mary   33  class1    10  female
3  fernadas   43  class2     5    male
4      john   23  class3     2    male
5     clara   16  class1     3  female
6     davis   30  class2    10    male