In [1]:
#1 question

set1 = {1, 2, 5 ,6}
set2 = {2, 4, 7, 8}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2}

In [8]:
#2 question

set1 = {1, 2, 5 ,6}
set2 = {2, 4, 7, 8}
difference = set1.difference(set2)
print(difference)

{1, 5, 6}

In [9]:
#3question

set1 = {1, 2, 5 ,6}
set2 = {2, 4, 7, 8}
symmetric_difference_set = set1.symmetric_difference(set2)
print(symmetric_difference_set)

{1, 4, 5, 6, 7, 8}

In [12]:
#4 question

set1 = {"apple", "cherry", "banana","BANANA"}
set1.remove("BANANA")
print(set1)

{'cherry', 'apple', 'banana'}

In [13]:
#5 question

set1 = {3, 4, 7, 9}
set2 = {2,5,7,10}
union_set = set1.union(set2)
print(union_set)

{2, 3, 4, 5, 7, 9, 10}

In [14]:
#6 question

set1 = {3, 5, 7, 20, 46}
set2 = {5, 46, 7}

is_subset = set2.issubset(set1)

if is_subset:
    print("set2 subset of set1")
else:
    print("set2 not a subset of set1")

set2 subset of set1

In [17]:
#7question

set1 = {23, 45, 10, 34,7}
max_element = max(set1)
print("maximum value is:", max_element)
min_element = min(set1)
print("minimum value is:", min_element)

maximum value is: 45
minimum value is: 7

In [26]:
#8 question

set1 = {"apple", "cherry", "banana"}
set1.clear()
print(set1)

set()

In [27]:
set3 = {"fidha", "lulu", "sharki"}
set4 = {"sahla", "hasna", "nasiya"}
set3.update(set4)
print(set3)

{'fidha', 'sharki', 'sahla', 'hasna', 'nasiya', 'lulu'}

In [28]:
set1 = {5, 7, 8, 12}
sum_element = sum(set1)
print("sum of all elements in a set:", sum_element)

sum of all elements in a set: 32