In [6]:
#1-question
x = (1,6,2,7)
y = max(x)
z = min(x)
print("max value is:", y)
print("min value is:", z)

max value is: 7
min value is: 1

In [9]:

#2 question
my_tuple = ("rashi", "ilyas", "razu")
y = list(my_tuple)
y.append("izza")
my_tuple = tuple(y)
print(my_tuple)

('rashi', 'ilyas', 'razu', 'izza')

In [14]:
#3 question

my_tuple = ("how are you")
y = {}
for char in my_tuple:
    y[char] = my_tuple.count(char)
my_tuple = tuple(y.items())
print(my_tuple)

(('h', 1), ('o', 2), ('w', 1), (' ', 2), ('a', 1), ('r', 1), ('e', 1), ('y', 1), ('u', 1))

In [18]:
#4 question
my_tuple = [(1,"apple"), (2,"cherry"), (3,"banana")]
dict1 = dict(my_tuple)
print(dict1)

{1: 'apple', 2: 'cherry', 3: 'banana'}

In [20]:
#5 question

def slice_tuple(tuple_to_slice, size):
    num_sub_tuples = len(tuple_to_slice) // size
    sub_tuples = []
    for i in range(num_sub_tuples):
        sub_tuples.append(tuple_to_slice[i * size : (i + 1) * size])
    if len(tuple_to_slice) % size != 0:
        sub_tuples.append(tuple_to_slice[num_sub_tuples * size:])
    return sub_tuples

my_tuple = (1, 2, 3, 4, 5, 6, 7)
result = slice_tuple(my_tuple, 3)
print(result)

[(1, 2, 3), (4, 5, 6), (7,)]

In [21]:
#6- question
nested_tuple = [[1,2],[4,5,6]]
print(nested_tuple)

[[1, 2], [4, 5, 6]]

In [22]:

#7 question.

my_tuple = [1,2,3,4,5]
my_tuple.remove(4)
print(my_tuple)

[1, 2, 3, 5]

In [30]:
#8 question.
tuple1 = ['A', 'B', 'C']
tuple2 = ['D', 'E', 'F', 'd']
y = tuple1 + tuple2
print(y)
y.remove("d")
print(y)

['A', 'B', 'C', 'D', 'E', 'F', 'd']
['A', 'B', 'C', 'D', 'E', 'F']

In [33]:
#9 question.

fruits = ["a", "b", "c", "d", "e", "f"]
fruits = x*y,z
print(x)
print(y)
print(z)

TypeError: can't multiply sequence by non-int of type 'list'

In [34]:
#10

def find_first_occurrence_index(my_tuple, element):
    try:
        index = my_tuple.index(element)
        return index
    except ValueError:
        return -1  

my_tuple = (1, 2, 3, 4, 2, 5)
element_to_find = 2
first_occurrence_index = find_first_occurrence_index(my_tuple, element_to_find)
if first_occurrence_index != -1:
    print(f"The index of the first occurrence of {element_to_find} is: {first_occurrence_index}")
else:
    print(f"{element_to_find} is not found in the tuple.")

The index of the first occurrence of 2 is: 1